.jumbotron {
    background-image: url('jumbo-1-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.jumbotron h1 {
    font-size: 2.5em;
    font-stretch: ultra-expanded;
}

.jumbotron p {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.jumbotron button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #e74c3c;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px 34px; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .jumbotron {
        padding: 50px 0;
    }

    .jumbotron h1 {
        font-size: 31px;
    }

    .jumbotron p {
        font-size: 24px;
    }

    .jumbotron button {
        font-size: 0.8em;
    }
}

.image-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.image-container-1 img {
    max-width: calc(20% - 10px); /* 20% width for each image with a small gap */
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-bottom: 10px solid rgba(0, 0, 0, 0.803);
    height: 250px;
    width: 280px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .image-container-1 img {
        max-width: calc(50% - 10px); 
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .image-container-1 img {
        max-width: calc(20% - 10px); 
    }
}

.best-seller{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: ultra-expanded;
    font-size: large;
    float: none;
}
.bestSeller{
    width: 100%;
    text-align: center;
}
.best-seller button{
    background-color: #e74c3c;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

/* Media queries for responsiveness */
@media (max-width: 768px){
    .best-seller button{
        font-size: 10px;
        padding: 8px 12px;
    }
    .bestSeller{
        max-width: 100%;
        font-size: smaller;
    }
}

.product-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97%;
}

/* Individual product card */
.product-card {
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0.6px rgba(143, 143, 143, 0.801);
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.rating{
    display: flex;
    justify-content: space-between;
}
/* Image */
.product-image {
    max-width: 100%;
    height: auto;
}

/* Caption */
.product-caption {
    margin-top: 10px;
    font-weight:100;
    text-align: center;
}

/* Delivery */ 
.product-delivery{
    font-size: 14px;
    color: rgba(133, 2, 2, 0.604);
    margin-top: 5px;
}

/* Price */
.product-price {
    margin-top: 5px;
    color: rgba(36, 36, 36, 0.522);
}
.product-disc-price{
    color: rgb(231, 0, 0);
    margin-top: 5px;
}

/* Rating */
.product-rating {
    margin-top: 5px;
    padding-right: 0;
    color: rgb(255, 145, 0);
}
.gray-star{
    color: rgba(96, 96, 96, 0.922);
}

/* Add to Cart button */
.add-to-cart-button {
    margin: 10px 0;
    background-color: rgb(209, 207, 207);
    color: black;
    width: 326px;
    padding: 6px 8px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 520;
    font-size: 16px;
    overflow: hidden;
    word-break: break-all;
}

/* 10% off div at top right */
.discount-label {
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 14px;
    background-color: #08b43c;
    color: #fff;
    padding: 4px 9px;
    font-size: 14px;
}


/* Media query for screens up to 767px (mobile devices) */
@media screen and (max-width: 767px) {
    .product-container {
        width: 100%; 
    }
    .product-card {
        width: calc(50% - 20px);  
    }
    .add-to-cart-button{
        font-size: 10px;
        width: fit-content;
    }
    .product-price {
        font-size: 13px;
    }
    .product-disc-price{
        font-size: 13px;
    }
    .product-rating{
        font-size: 12px;
    }
    .product-delivery{
        font-size: 12px;
    }
    .discount-label{
        font-size: 8px;
        padding: 3px 6px;
    }
}

/* Media query for screens > 767px (tablet) */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .product-container {
        width: 100%; 
    }
    .product-card {
        width: calc(25% - 20px);  
    }
    .add-to-cart-button{
        font-size: 12px;
        width: fit-content;
        padding: 8px 20px;
    }
    .product-price {
        font-size: 13px;
    }
    .product-disc-price{
        font-size: 15px;
    }
    .product-rating{
        font-size: 12px;
    }
    .product-delivery{
        font-size: 12px;
    }
    .discount-label{
        font-size: 10px;
        padding: 4px 8px;
    }
}



/* Jumbotron -2 */

.jumbotron-2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.jumbotron-2-img{
    z-index: -1;
    width: 100%;
}
.jumbotron-2-text{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 70px;
}

.jumbotron-2-text h1 {
    font-size: 2.5em;
    font-stretch: ultra-expanded;
    font-family: cursive;
    font-style: italic;
    color: #e31f0a;
    font-size: 57px;
}

.HotDeal{
    font-weight: 600; 
    font-size: 29px;
}
.jumbo-2-para {
    font-size: 18px;
    margin-bottom: 20px;
    color: blue;
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}

.jumbo-2-btn {
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 26px; 
}

.expired{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 320px;
}
.expired-div{
    width: 80px;
    margin: 0 20px;
    height: 70px;
    border: none;
    box-shadow: 1px 1px 6px 0.5px #ff2911da;
    word-wrap: break-word;
    background-color: rgba(209, 94, 235, 0.589);
}
.time-div{
    margin: 5px;
    padding: 5px;
    word-wrap: normal;
}
#days{
    margin: 10px;
}
#hours{
    margin: 10px;
}
#mins{
    margin: 10px;
}
#secs{
    margin: 10px;
}

 /* Media queries for tablet */
 @media screen and (min-width: 768px) and (max-width: 1200px) {
    .jumbotron-2 {
        flex-direction: row;
        text-align: center;
    }
    
    .jumbotron-2-text {
        margin-top: 20px;
    }
    .jumbotron-2-img{
        width: 20%;
    }
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
    .jumbotron-2 {
        flex-direction: row;
        text-align: center;
    }
    .jumbotron-2-text h1{
        font-size: 2.1em; 
    }
   
    .jumbotron-2-text {
        margin-top: 18px;
        width: 100%;
        text-align: center;
        margin-right: 6px;
    }
    .jumbotron-2-img{
        width: 10%;
    }
    .HotDeal{
        font-weight: 600; 
        font-size: 22px;
        word-wrap: break-word;
    }
    .jumbo-2-para {
        font-size: 14px;
        margin: 0 6px 10px 0;
        color: blue;
        word-wrap: break-word;
    }
    
    .jumbo-2-btn {
        font-size: 0.8em;
        padding: 8px 15px;
    }
    .expired{
        flex-direction: column;
        font-size: 14px;
    }
    .expired-div{
        flex: 2; 
        width: calc(35% - 20px); 
        margin: 10px;
        word-wrap: break-word;
    }
    .time-div{
        margin: 10px;
        padding: 10px;
        word-wrap: normal;
    }
}


/* Sections */

.columns{
    margin: 0 auto;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align:justify;
    color: rgba(30, 30, 30, 0.823);
    flex-wrap: wrap;
}
.column-icon{
    color: rgb(255, 115, 0);
    font-size: 28px;
    padding: 0 10px;
}
/* Media queries for mobiles */
@media screen and (max-width: 767px){
    .columns{
        width: 100%;
        max-width: (30% - 20px);
        font-size: 10px;
        margin: 5px;
        padding: 8px;
    }
    .column-icon{
        font-size: 14px;
    }
    .column{
        flex-direction: row;
        max-width: (100% - 10px);
        margin: 14px;
    }
    .column-text p{
        word-wrap: break-word;
    }
}

/* Media queries for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .columns{
        width: 100%;
        max-width: (30% - 20px);
        font-size: 15px;
        margin: 10px;
        padding: 14px;
    }
    .column-icon{
        font-size: 20px;
    }
    .column{
        flex-direction: row;
        max-width: (100% - 10px);
        margin: 14px;
    }
    .column-text p{
        word-wrap: break-word;
    }
}



/* jumbotron 3 */ 
.jumbo-3-para{
    padding-top: 80px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: ultra-expanded;
    word-spacing: 14px;
    font-style: italic;
    color: #e31f0a;
}
.charles{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: ultra-expanded;
    word-spacing: 14px;
    font-style: italic;
    color: #e31f0a;
    font-size: 29px;
    font-weight: 600;
    margin-top: 10px;
}
.jumbo-3{
    overflow: hidden;
}
.jumbotron-3-img{
    height: 600px;
    width: 400%;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

.jumbotron-3-img img {
    width: 100%;
    z-index: -1;
}

/* bullets */
.bullets{
    display: inline-flex;
    justify-content: space-between;
}
.bullet{
    background-color: rgb(232, 1, 1);
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}
.bullet:active{
    transform: scale(1.5);
}

/* Media query for mobile screens */
@media screen and (max-width: 548px){
    .jumbo-3{
        flex-direction: column;
        width: 100%;
    }
    .jumbo-3-para{
        font-size: 10px;
        max-width: 75%;
        padding-top: 0;
        margin: 0 auto;
    }
    .jumbo-3-text{
        margin-top: 5px;
        z-index: 1;
        text-align: center;
    }
    .jumbotron-3-img{
        width: 100%;
        height: 350px;
        padding: 0;
        overflow: hidden;
    }
    .jumbotron-3-img img{
        width: 100%;
        height: 350px;
    }
    .charles{
        font-size: 13px;
        font-stretch: normal;
        margin-top: 22px;
    }
    .bullet{
        width: 6px;
        height: 6px;
    }
}
/* Media queries for tablet */
@media screen and (min-width: 549px) and (max-width: 1024px){
    .jumbo-3{
        flex-direction: column;
        width: 100%;
    }
    .jumbo-3-para{
        font-size: 10px;
        max-width: 75%;
        padding-top: 0;
        margin: 0 auto;
        font-stretch: normal;
    }
    .jumbo-3-text{
        margin-top: 5px;
        z-index: 1;
        text-align: center;
    }
    .jumbotron-3-img{
        width: 100%;
        height: 400px;
        z-index: 1;
        padding: 0;
    }
    .jumbotron-3-img img{
        width: 100%;
        height: 400px;
    }
    .charles{
        font-size: 15px;
        font-stretch: normal;
        margin-top: 22px;
    }
    .bullet{
        width: 5px;
        height: 5px;
    }
}

/* SLIDER */ 
.container{
    position: relative;
    background-color: #fffdfd;
}
.wrapper{
    width: 50%;
    height: 420px;
    box-shadow: 5px 5px 5px 2px rgba(128, 128, 128, 0.67);
    margin: 0 auto;
    overflow: hidden;
}
.wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 14s ease-in-out infinite forwards;
}
#slider-img1{
    background-image: url('https://images.unsplash.com/photo-1535850579364-952ef600d22e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2002&q=80');
    background-position: center;
    background-repeat: no-repeat;
   
}
#slider-img2{
    background-image: url('jumbo-1-image.jpg');
    background-position: center;
}
#slider-img3{
    background-image: url('jumbo-3.1.jpg');
    background-position: center;
}
#slider-img4{
    background-image: url('https://images.unsplash.com/photo-1619962992057-be492a5816f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-position: center;
}
.button-slider{
    display: inline-block;
    background-color: #e3200af5;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin: 0.3rem;
    box-shadow: 1px 1px 5px 1px rgba(13, 0, 255, 0.805);
}
.button-holder{
    /* position: absolute; */
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.button-slider:active{
    transform: scale(1.2);
}
.btn-1:active{
    animation: none;
   
}
.btn-2:active{
    animation: none;

}
.btn-3:active{
    animation: none;
   
}
.btn-4:active{
    animation: none;
 
}

 @keyframes slider {
    0% {transform: translateX(0%);}
    10% {transform: translateX(0%);}
    20% {transform: translateX(-100%);}
    30% {transform: translateX(-100%);}
    40% {transform: translateX(-200%);}
    50% {transform: translateX(-200%);}
    60% {transform: translateX(-200%);}
    70% {transform: translateX(-300%);}
    80% {transform: translateX(-300%);}
    90% {transform: translateX(-300%);}
    100% {transform: translateX(0%);}
} 

/* Media query for mobile screens */
@media (max-width: 768px) {
    .wrapper {
        width: 96%;
        height: auto;
    }
    .button-slider{
        width: 9px;
        height: 9px;
    }
    .slider-item{
        height: 200px;
    }

}

/* Media query for tablet screens */
@media (min-width: 769)and (max-width: 1024px) {
    .wrapper {
        width: 96%;
        height: auto;
    }
    .button-slider{
        width: 10px;
        height: 10px;
    }
    .slider-item{
        height: 400px;
    }
}


/* jumbotron-4 */
.jumbotron-4{
        margin: 0 auto;
        width: 96%;
        background-image: url('jumbo-4-image.jpg');
        width: max-content;
        height: 550px;
        border-radius: 8px;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        text-align: center;
        padding: 100px 0;
        position: relative;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbo4-div{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.jumbo-4-text{
    width: 60%;
    margin: 10px;
    padding: 10px;
    line-height: 60px;
    font-stretch: ultra-expanded;
}
.specialDay{
    font-size: 55px;
    color: #f10000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anniversary{
    color: rgb(1, 144, 222);
    font-style: italic;
    font-family: cursive;
    font-size: 55px;
    text-transform: capitalize;
}

/* Media query for mobile screens */
@media screen and (max-width: 548px){
    .jumbotron-4{
        flex-direction: row;
        width: 100%;
        height: 300px;
    }
    .jumbo-4-text{
        width: 70%;
        margin: 8px;
        padding: 10px;
        line-height: 35px;
        font-stretch: ultra-expanded;
    }
    .specialDay{
        font-size: 24px;
    }
    .anniversary{
        font-size: 24px;
    }
}
/* Media query for tablets */
@media screen and (min-width: 549px) and (max-width: 1024px){
    .jumbotron-4{
        flex-direction: row;
        width: 100%;
        height: 300px;
    }
    .jumbo-4-text{
        width: 70%;
        margin: 8px;
        padding: 10px;
        line-height: 40px;
        font-stretch: ultra-expanded;
    }
    .specialDay{
        font-size: 38px;
    }
    .anniversary{
        font-size: 38px;
    }
}
/* Media query for laptop */
@media (min-width: 1025px){

    .jumbotron-4{
        width: 96%;
    }
}



   